h1{
    text-align: center;
    background-color: rgb(241, 197, 241);
    margin: 30px;
    padding: 10px;
}

h2{
    background-color: rgb(218,112,214);
    color: rgb(58, 0, 58);
    margin: 40px;
    text-align: center;
    border: 2px solid rgb(76, 0, 83);
    padding: 5px;
}

div{
    border:4px solid rgb(33, 0, 56);
    background-color: rgb(224, 190, 255);
}